// Add your custom CSS here.
.minicart__aside .minicart__btn-checkout {
    display: none;
}
#checkToPay .form-check {
    text-align: right;
  }
  #modal-size-guide, #modal-check {
    @media(min-width: 1200px) {
      .modal-dialog {
        max-width: 1140px
      }
    }
    @media screen and (max-width: 199px) and (min-width: 992px) {
      .modal-dialog {
        max-width: 960px;
      }
    }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .modal-dialog {
        max-width: 720px;
      }
    }
    @media(max-width: 480px) {
      .modal-dialog {
        max-width: 100%;
        width: 100%;
        margin: 0;
        margin-top: 4rem !important;
      }
      .modal-header {
        display: none !important;
      }
      .modal-body {
        padding: 0;
      }
      #close-mobile {
       display: flex !important;
       align-items: center;
       justify-content: flex-end;
      }
    }
  
    img {
      max-width: 100%;
    }
    .modal-body {
      text-align: center;
    }
  }
  #storefront-app {
      padding-bottom: 0 !important;
  }
  .cart__info .cart__btn-checkout {
      display: none;
  }
  .form-check .form-check-label {
      text-align: start;
  }
  .minicart__aside .minicart__btn-cart {
      font-size: 0;
      &::after {
          content: "Finalizar Compra";
          font-size: 1rem !important;
      }
  }
  @media(min-width: 767px) {
    .shipping-calculator__option .shipping-line + small {
      width: 30%
    }
  }